@charset "UTF-8";
@font-face {
  font-family: 'Estre';
  src: url('../fonts/estre.ttf');
  src: local('☺'), url('../fonts/estre.woff') format('woff'), url('../fonts/estre.ttf') format('truetype'), url('../fonts/estre.svg#font') format('svg');
  /* iOS */ }

header {
  height: 84px;
  background: #8f2221;
  /* Old browsers */
  background: -moz-linear-gradient(top, #8f2221 0%, #871c1c 47%, #801819 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #8f2221), color-stop(47%, #871c1c), color-stop(100%, #801819));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #8f2221 0%, #871c1c 47%, #801819 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #8f2221 0%, #871c1c 47%, #801819 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #8f2221 0%, #871c1c 47%, #801819 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #8f2221 0%, #871c1c 47%, #801819 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2221', endColorstr='#801819',GradientType=0 );
  /* IE6-9 */ }
  header .navbar-default {
    background: none !important;
    border: none !important;
    height: 114px; }
    header .navbar-default .navbar-nav li .active {
      color: #31b0d5;
      background: #801819; }
      header .navbar-default .navbar-nav li .active a:hover {
        background: red;
        color: #31b0d5; }
    header .navbar-default .navbar-nav li a {
      height: 84px;
      padding-top: 38px;
      color: #ffffff;
      font-family: 'Estre', sans-serif;
      text-transform: uppercase;
      font-size: 16px; }
      header .navbar-default .navbar-nav li a:hover {
        background: #801819;
        color: greenyellow; }
  header .navbar-nav > .active > a, header .navbar-nav > .active > a:hover, header .navbar-nav > .active > a:focus {
    background: #801819;
    color: #ffffff; }
    header .navbar-nav > .active > a:hover, header .navbar-nav > .active > a:hover:hover, header .navbar-nav > .active > a:focus:hover {
      background: black;
      color: #31b0d5; }
  header .navbar-default .navbar-nav > .active > a, header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:focus {
    background: black;
    color: #f3f4f5; }
    header .navbar-default .navbar-nav > .active > a:hover, header .navbar-default .navbar-nav > .active > a:hover:hover, header .navbar-default .navbar-nav > .active > a:focus:hover {
      background: #8f2221;
      color: #31b0d5; }
  header .navbar-brand, header .searchButton {
    background: url("../img/sprite.png") no-repeat top; }
    header .navbar-brand:hover, header .searchButton:hover {
      cursor: pointer; }
  header .navbar-brand {
    background-position: 0 0;
    width: 312px;
    height: 77px;
    margin-top: 10px;
    display: block;
    background-size: 300%; }
  header .searchButton {
    width: 48px;
    height: 45px;
    background-position: 0 -100px;
    display: block;
    margin-top: 12px; }

.carousel-caption {
  background: rgba(133, 27, 27, 0.75);
  bottom: 25%;
  font-family: 'Estre', sans-serif; }

.carousel-control {
  padding-top: 15%;
  font-size: 10em; }

.nav-pills a {
  color: #fff; }

.thumbnail {
  height: 600px;
  overflow-y: hidden; }

.btn-primary {
  border: #82191a;
  background-color: #82191a; }
  .btn-primary:hover {
    background-color: #d81e05; }

footer .nav > li > a:hover, footer .nav > li > a:focus {
  text-decoration: none;
  background-color: #82191a;
  color: #f3f4f5; }

a {
  -webkit-transition: all .5s;
  transition: all .5s; }

arcticle {
  font-size: 1.05em; }

.searchBox {
  color: #656565; }
  .searchBox input[type="text"] {
    font-size: 2em;
    padding: 8px;
    width: 100%;
    border: none; }

.recentReviewsContainer {
  background: #82191a;
  color: #ffffff;
  padding: 32px 0; }
  .recentReviewsContainer h1 {
    font-family: 'Estre', sans-serif;
    font-size: 1.75em;
    letter-spacing: 0.05em;
    margin: 0 0 10px 30px;
    text-transform: uppercase; }

.recentReviewsBlock figure {
  width: 100%;
  height: 100%;
  float: left; }
  .recentReviewsBlock figure img {
    overflow: hidden;
    width: 100%;
    height: 100%; }
    .recentReviewsBlock figure img:hover {
      border: 1px solid #dbdda7; }
.recentReviewsBlock .recentReviewsBlockTitle h2, .recentReviewsBlock .recentReviewsBlockTitle p {
  font-family: 'Estre', sans-serif;
  font-size: 1.415em;
  padding: 0 0 2px 0;
  margin-left: 12px;
  border-bottom: 1px solid #dadada;
  text-transform: uppercase;
  color: #fff;
  margin-top: -4px;
  letter-spacing: 4px; }
  .recentReviewsBlock .recentReviewsBlockTitle h2 a, .recentReviewsBlock .recentReviewsBlockTitle p a {
    color: white; }
  .recentReviewsBlock .recentReviewsBlockTitle h2 a:hover, .recentReviewsBlock .recentReviewsBlockTitle p a:hover {
    color: #dbdda7;
    text-decoration: none; }
.recentReviewsBlock .recentReviewsBlockTitle p {
  font-size: 0.85em;
  padding: 0;
  border: none;
  text-transform: none;
  letter-spacing: 1px; }

.mainBody h1 {
  font-family: 'Estre', sans-serif;
  font-size: 1.75em;
  letter-spacing: 0.05em;
  margin: 30px 0 10px 30px;
  text-transform: uppercase; }
.mainBody .3dboxes {
  -webkit-perspective: 600; }
.mainBody .articleBlock {
  background: #82191a;
  padding: 4px 8px;
  color: #fff;
  font-family: 'Estre', sans-serif;
  min-height: 300px;
  overflow: hidden;
  margin: 0 14px 24px;
  cursor: pointer;
  -webkit-transition: all .5s;
  transition: all .5s;
  position: relative; }
  .mainBody .articleBlock .blocktxt {
    z-index: 2;
    position: absolute;
    top: 0; }
  .mainBody .articleBlock .blockbg {
    z-index: 1;
    position: absolute;
    top: 0;
    opacity: 0.25; }
  .mainBody .articleBlock:hover {
    background: #198257;
    -webkit-transition: all .5s;
    transition: all .5s; }
  .mainBody .articleBlock .articleDate {
    font-size: 0.85em; }
  .mainBody .articleBlock h1 {
    font-size: 2em;
    margin: 30px 0 20px;
    padding: 0 8px 8px 8px;
    text-transform: none;
    letter-spacing: 0.115em; }
  .mainBody .articleBlock p {
    font-size: 0.95em;
    padding: 0;
    margin: 12px 8px;
    line-height: 1.512em; }

/* .row-fluid .thumbnails .span2:nth-child(6n+1),
.row-fluid .thumbnails .span3:nth-child(4n+1),
.row-fluid .thumbnails .span4:nth-child(3n+1),
.row-fluid .thumbnails .span6:nth-child(2n+1) {
  margin-left: 0;
  height: 450px;
  overflow: hidden;
} */
.img-responsive, .thumbnail > img, .thumbnail a > img, .carousel-inner > .item > img, .carousel-inner > .item > a > img {
  height: auto !important; }

.ad300250 {
  width: 300px;
  height: 250px;
  background: black;
  display: block;
  margin: 0 auto 30px; }

.headerAdContainer {
  width: 100%;
  height: auto;
  background: url("../img/dark_matter.png") repeat #82191a;
  -moz-box-shadow: inset 0 0 5px #000;
  -webkit-box-shadow: inset 0 0 5px #000;
  box-shadow: inner 0 0 5px #000;
  padding: 12px 0; }
  .headerAdContainer .headerAd {
    width: 728px;
    height: 90px;
    display: block;
    background: black;
    margin: 12px auto; }

.sidebarLeft {
  text-align: center; }
  .sidebarLeft h2 {
    font-family: 'Estre', sans-serif;
    font-size: 1.65em;
    color: #000;
    letter-spacing: 0.05em;
    text-transform: uppercase; }
  .sidebarLeft .trailerReviewBox {
    width: 100%; }
    .sidebarLeft .trailerReviewBox img {
      width: 100%;
      margin-bottom: 30px; }

footer {
  background: #000;
  color: #fff;
  padding: 30px 0; }
  footer a {
    color: inherit; }
  footer .footerIcon {
    background: url('../img/sprite.png') no-repeat top;
    background-position: 0 0;
    width: 67px;
    height: 82px;
    display: block; }
    footer .footerIcon a {
      display: block; }
  footer .footerTerms {
    color: #656565;
    font-size: 0.85em;
    padding: 2px 0 0 14px; }
    footer .footerTerms a:hover {
      color: #fff; }

/** change height for comment box **/
.r3 {
  min-height: 50px !important; }

.articleHeader {
  background: none;
  padding: 30px 0;
  margin: 0 0 12px 0;
  border-bottom: 1px dashed #dadada; }
  .articleHeader h1.entry-title {
    font-size: 3.55em;
    font-family: 'Estre', sans-serif;
    color: black;
    margin-left: -10px;
    letter-spacing: -0.03em; }
    .articleHeader h1.entry-title a {
      color: black;
      text-decoration: none; }

ul.controls {
  display: none; }

.keywords {
  margin: 30px 0;
  padding: 8px 0;
  border-top: 1px dashed #dadada;
  font-size: 2.55em;
  color: #82191a; }
  .keywords a {
    padding: 0 4px;
    color: #82191a; }

.videoContainer {
  text-align: center;
  margin: 12px 0;
  padding: 8px 0; }

.relatedStory {
  padding: 20px 0;
  margin: 12px 0;
  border-bottom: 1px solid #dadada; }
  .relatedStory .osImage img {
    overflow: hidden;
    width: 100%;
    height: auto; }
  .relatedStory .osTitle {
    font-size: 2.75em;
    color: #333333;
    font-family: 'Estre', sans-serif;
    letter-spacing: -0.06em;
    margin-left: 12px;
    line-height: 0.85em; }
    .relatedStory .osTitle a {
      color: #333;
      text-decoration: none; }
  .relatedStory .osDate {
    font-size: 0.512em;
    color: #82191a; }

@media screen and (max-width: 786px) {
  header {
    height: auto; }
    header .navbar-default {
      height: auto; }
    header .navbar-nav > li > a {
      height: auto; }
    header .navbar-brand {
      background-size: 300%;
      margin: -30px auto 0; }
    header .searchButton {
      display: none; } }
