@charset "UTF-8";
@font-face {
  font-family: 'Estre';
  src: url('../fonts/estre.ttf');
  src: local('☺'), url('../fonts/estre.woff') format('woff'), url('../fonts/estre.ttf') format('truetype'), url('../fonts/estre.svg#font') format('svg');
  /* iOS */ }

arcticle {
  font-size: 1.05em; }
