@import 'mixins';
@import 'fonts';
@import 'override';


a {
  @include tTransition;
}

arcticle {
  font-size: 1.05em;
}

.recentReviewsContainer {
  background: #82191a;
  color: #ffffff;
  padding: 32px 0;
  h1 {
    font-family: 'Estre', sans-serif;
    font-size: 1.75em;
    letter-spacing: 0.05em;
    margin: 0 0 10px 30px;
    text-transform: uppercase;
  }
}

.recentReviewsBlock {
  figure {
    width: 100%;
    height: 100%;
    float: left;
    img {
      overflow: hidden;
      width: 100%;
      height: 100%;
      &:hover {
        border: 1px solid #dbdda7;
      }
    }
  }
  .recentReviewsBlockTitle {
    h2, p {
      font-family: 'Estre', sans-serif;
      font-size: 1.415em;
      padding: 0 0 2px 0;
      margin-left: 12px;
      border-bottom: 1px solid #dadada;
      text-transform: uppercase;
      color: #fff;
      margin-top: -4px;
      letter-spacing: 4px;
      a {
        color: white;
      }
      a:hover {
        color: #dbdda7;
        text-decoration: none;
      }
    }
    p {
      font-size: 0.85em;
      padding: 0;
      border: none;
      text-transform: none;
      letter-spacing: 1px;
    }
  }
}

.mainBody {
  h1 {
    font-family: 'Estre', sans-serif;
    font-size: 1.75em;
    letter-spacing: 0.05em;
    margin: 30px 0 10px 30px;
    text-transform: uppercase;
  }
}




@media screen and (max-width: 786px)
{
    header {
      height: auto;

      .navbar-default {
        height: auto;
      }

      .navbar-nav > li > a {
        height: auto;
      }

      .navbar-brand {
        background-size: 300%;
        margin: -30px auto 0;
      }

      .searchButton {
        display: none;
      }
    }
}