@import 'fonts';



header {
  height: 84px;
  background: #8f2221; /* Old browsers */
  background: -moz-linear-gradient(top,  #8f2221 0%, #871c1c 47%, #801819 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8f2221), color-stop(47%,#871c1c), color-stop(100%,#801819)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #8f2221 0%,#871c1c 47%,#801819 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #8f2221 0%,#871c1c 47%,#801819 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #8f2221 0%,#871c1c 47%,#801819 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #8f2221 0%,#871c1c 47%,#801819 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8f2221', endColorstr='#801819',GradientType=0 ); /* IE6-9 */

  .navbar-default {
    background: none !important;
    border: none !important;
    height: 114px;
  }

  .navbar-nav > li > a {
    color: white !important;
    font-size: 18px;
    font-family: 'Estre', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-top: 33px !important;
    height: 84px;
  }

  .navbar-brand, .searchButton {
    background: url("../img/sprite.png") no-repeat top;
  }

  .navbar-brand {
    background-position: 0 0;
    width: 312px;
    height: 100px;
    margin-top: 10px;
    display: block;
    background-size: 300%;
  }

  .searchButton {
    width: 48px;
    height: 45px;
    background-position: 0 -100px;
    display: block;
    margin-top: 12px;
  }
}


arcticle {
  font-size: 1.05em;
}

@media screen and (max-width: 786px)
{
    header {
      height: auto;

      .navbar-default {
        height: auto;
      }

      .navbar-nav > li > a {
        height: auto;
      }

      .navbar-brand {
        background-size: auto;
      }

      .searchButton {
        display: none;
      }
    }
}